@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle at top, #111827, #020617);
  color: #e5e7eb;
  line-height: 1.7;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(2, 6, 23, 0.7);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #1f2933;
  z-index: 100;
}

nav {
  max-width: 1100px;
  margin: auto;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-weight: 800;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #9ca3af;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 64px;
  font-weight: 800;
  background: linear-gradient(90deg, #38bdf8, #818cf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  margin-top: 20px;
  font-size: 20px;
  color: #9ca3af;
}

/* SECTIONS */
section {
  max-width: 1100px;
  margin: auto;
  padding: 120px 20px;
}

section h3 {
  font-size: 36px;
  margin-bottom: 30px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  background: #020617;
  border: 1px solid #1f2937;
  padding: 40px;
  border-radius: 18px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
  border-color: #38bdf8;
}

/* BLOG */
#blog ul {
  list-style: none;
}

#blog li {
  padding: 15px 0;
  border-bottom: 1px solid #1f2937;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  color: #6b7280;
  border-top: 1px solid #1f2937;
}
.tag {
  color: #38bdf8;
  letter-spacing: 3px;
  font-size: 14px;
}

.hero-buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 14px 28px;
  border-radius: 999px;
  text-decoration: none;
  border: 1px solid #1f2937;
  color: #e5e7eb;
  transition: 0.3s;
}

.btn.primary {
  background: linear-gradient(90deg, #38bdf8, #818cf8);
  color: #020617;
  border: none;
}

.btn:hover {
  transform: translateY(-4px);
}
